<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usługi</title>
</head>
<body>
<div align="center">
    <!--  Page header  -->
    <h1>Edytuj dane usługi</h1>
    <!--  End line/ new line  -->
    <br/>
    <form action="#" th:action="@{/updateUslugi}" th:object="${uslugi}" method="post">
        <!-- Table  -->
        <table border = "1" cellpadding="10">
            <tr>
                <td>Numer usługi:</td>
                <td><input type="text" th:field="*{nr_uslugi}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Numer stanowiska:</td>
                <td><input type="text" th:field="*{nr_stanowiska}"></td>
            </tr>
            <tr>
                <td>Rodzaj usługi:</td>
                <td>
                    <select th:field="*{rodzaj_uslugi}">
                        <option value="Finanse" th:text="Finanse"></option>
                        <option value="Konsultacje" th:text="Konsultacje"></option>
                        <option value="Doradztwo" th:text="Doradztwo"></option>
                        <option value="Inne" th:text="Inne"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Numer sekretariatu:</td>
                <td><input type="text" th:field="*{nr_sekretariatu}" readonly="readonly"></td>
            </tr>
            <!--Button save-->
            <tr>
                <td colspan="2"><button type="Submit">Zapisz</button> </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>