<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Klienci</title>
</head>
<body>
<div align="center">
  <h1>Klienci</h1>

  <a href="/new_form_klient">Dodaj nowego klienta</a>
  <br/><br/>

  <table border = "1" cellpadding = "10">

    <!--Table header -->
    <thead>
    <tr>
      <th>Nr klienta</th>
      <th>Nr telefonu</th>
      <th>Adres email</th>
      <th>Data przybycia</th>
      <th>Nr sekretariatu</th>
      <th>Nr adresu</th>
    </tr>
    </thead>

    <!-- Table body -->
    <tbody>
    <tr th:each = "Klienci : ${listKlienci}">
      <td th:text = "${Klienci.Nr_klienta}">Nr klienta</td>
      <td th:text = "${Klienci.Nr_telefonu}">Nr telefonu</td>
      <td th:text = "${Klienci.Adres_email}">Adres email</td>
      <td th:text = "${Klienci.Data_przybycia}">Data przybycia</td>
      <td th:text = "${Klienci.Nr_sekretariatu}">Nr sekretariatu</td>
      <td th:text = "${Klienci.Nr_adresu}">Nr adresu</td>
      <td>
        <a th:href="@{'/klienci_edit/' + ${Klienci.Nr_klienta}}">Edytuj</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{'/klienci_delete/' + ${Klienci.Nr_klienta}}">Usuń</a>
      </td>

    </tr>
    </tbody>
  </table>

</div>
</body>
</html>