<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa usługa</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{css/new_edit_forms.css}"/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">SEKRETARIAT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Strona główna</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main_admin}">Mój profil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div id="main-container" align="center">
    <!-- Page header -->
    <h1 style="margin-top: 20px;">Dodaj nową usługę</h1>

    <!-- End line/ new line-->

    <br/>
    <form action="#" th:action="@{/main_admin/saveUslugi}" th:object="${usluga}" method="post">
        <table >
            <tr>
                <th class="first-column">Numer stanowiska:</th>
                <td class="second-column"><input type="text" th:field="*{nr_stanowiska}"></td>
            </tr>
            <tr>
                <th class="first-column">Rodzaj usługi:</th>
                <td class="second-column">
                    <select th:field="*{rodzaj_uslugi}">
                        <option value="Finanse" th:text="Finanse"></option>
                        <option value="Konsultacje" th:text="Konsultacje"></option>
                        <option value="Doradztwo" th:text="Doradztwo"></option>
                        <option value="Inne" th:text="Inne"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="first-column">Numer sekretariatu:</th>
                <td class="second-column">
                    <input type="text" th:field="*{nr_sekretariatu}" readonly="readonly">
                </td>
            </tr>
            <!--Button save-->
            <tr>
                <td colspan="2"><button type="Submit">Zapisz</button> </td>
            </tr>
        </table>
    </form>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>