<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa usługa</title>
</head>
<body>,
<div align="center">
    <!-- Page header -->
    <h1>Dodaj nową usługę</h1>

    <!-- End line/ new line-->
    <br/>
    <form action="#" th:action="@{/saveUslugi}" th:object="${usluga}" method="post">
        <table border = "1" cellpadding="10">
            <!--  Table row -->
            <tr>
                <td>Numer usługi:</td>
                <td><input type="text" th:field="*{nr_uslugi}"></td>
            </tr>
            <tr>
                <td>Numer stanowiska:</td>
                <td><input type="text" th:field="*{nr_stanowiska}"></td>
            </tr>
            <tr>
                <td>Rodzaj usługi:</td>
                <td><input type="text" th:field="*{rodzaj_uslugi}"></td>
            </tr>
            <tr>
                <td>Numer sekretariatu:</td>
                <td><input type="text" th:field="*{nr_sekretariatu}"></td>
            </tr>
            <!--Button save-->
            <tr>
                <td colspan="2"><button type="Submit">Zapisz</button> </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>