
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: -100px;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}

thead th {
    background-color: #ffe0b2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f0f0f0; /
}


th:nth-child(1), td:nth-child(1) { width: 5%; } /* Nr pracownika */
th:nth-child(2), td:nth-child(2) { width: 10%; } /* Imię */
th:nth-child(3), td:nth-child(3) { width: 10%; } /* Drugie imię */
th:nth-child(4), td:nth-child(4) { width: 10%; } /* Nazwisko */
th:nth-child(5), td:nth-child(5) { width: 5%; }  /* Płeć */
th:nth-child(6), td:nth-child(6) { width: 10%; } /* Nr telefonu */
th:nth-child(7), td:nth-child(7) { width: 10%; } /* Data urodzenia */
th:nth-child(8), td:nth-child(8) { width: 10%; } /* Adres email */
th:nth-child(9), td:nth-child(9) { width: 8%; }  /* PESEL */
th:nth-child(10), td:nth-child(10) { width: 10%; } /* Data zatrudnienia */
th:nth-child(11), td:nth-child(11) { width: 10%; } /* Data zwolnienia */
th:nth-child(12), td:nth-child(12) { width: 5%; } /* Upomnienia */
th:nth-child(13), td:nth-child(13) { width: 5%; } /* Pochwały */
th:nth-child(14), td:nth-child(14) { width: 5%; } /* Nr sekretariatu */
th:nth-child(15), td:nth-child(15) { width: 5%; } /* Nr adresu */
th:nth-child(16), td:nth-child(16) { width: 10%; } /* Działanie */

#main-container {
    margin-top: 30px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    overflow-y: auto;
}


#main-container button {
    background-color: #F7A543;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-top: 25px;
    outline: none;
}