<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Błąd strony</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/errors.css}">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">SEKRETARIAT - WYSTĄPIŁ BŁĄD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Strona główna</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container error-container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <div><b><p class="error-number">Błąd 404 - Page Not Found</p></b></div>
                    <div class="error-description">
                        <p>Przepraszamy, ale żądana strona nie została odnaleziona na serwerze :( </p>
                    </div>
                </div>
                <button class="btn btn-primary btn-back" type="submit" value="Sign In">Wróć do strony głównej</button>
            </form>
        </div>
    </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/inactive.js}"></script>
</body>
</html>